---
import AboutHeroImage from '../assets/aboutme.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 29 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		这里是莫莫/老莫/西梅或者别的什么，一个网络流浪汉
	</p>

	<p>
		什么都爱折腾，改模型，搭bot或者玩点啥，亦或者写点文字——比如这个blog也是这么来的（
	</p>

	<p>
		其中最喜欢的还是交朋友吧，朋友好吃又好玩，好多还很可爱，多么美妙
		既然你发现了这里，那你应该也是我朋友，给我咬一口(*^▽^*)
	</p>

	<p>
		这个页面可以用来留言，如果你不想点我那些乱七八糟的东西的话，还请留下你的联系方式，
		我将视奸你o(￣ヘ￣o＃)
		准备好被我一直看着吧
	</p>

	<p>
		这个博客是有秘密空间的，找到入口需要一点观察力——有时候，"开始"的地方往往藏着最重要的东西。
	</p>
</Layout>
